<div align="center">
  <div class="alert alert-{{alerts[alertid].type}} alert-dismissable closed" *ngFor="let alertid of alerts | keys" id='alert{{alertid}}'>
    <button class="close" aria-label="close" (click)='alerts[alertid].hide()'>&times;</button>
    <strong>{{ alerts[alertid].title }}</strong> {{ alerts[alertid].message }}
  </div>
</div>

<form class="form-horizontal" style="width:100%; margin: 0 auto;" id="passwordform">
<div align = "center">

<br><br><br><br><br><br><br><br><br><br>
<p> Please enter your password</p>
<input type="password" style="width:50%" class="form-control" id="password">
</div>
</form>
