<div align="center">
  <div class="alert alert-{{alerts[alertid].type}} alert-dismissable closed" *ngFor="let alertid of alerts | keys" id='alert{{alertid}}'>
    <button class="close" aria-label="close" (click)='alerts[alertid].hide()'>&times;</button>
    <strong>{{ alerts[alertid].title }}</strong> {{ alerts[alertid].message }}
  </div>
</div>

<div align="center">
  <h1>Still to be implemented</h1>
</div>

<div align="center">
  <button class="btn btn-primary" (click)="toProfilePage()">Profile Page</button>
</div>
